<h1>Fake Facebook</h1>

<form method="post" action="/">
  First Name: <input name="fname"><br><br>
  Last Name:  <input name="lname"><br><br>
  Email:    <input name="email"><br><br>
 <input type="submit">
</form>

