<h1>Johns Poll</h1>

<form method="post" action="/">
  First Name: <input name="fname"><br>
  Last Name: <input name="lname"><br>
  Email <input name="email"><br>
  Avatar Pic URL <input name="picurl"><br><br>
</form>