<h1>Create Your Own YouBook</h1>

<form method="post" action="/">
  <p>First Name:</p> <input name="fname"><br><br>
  <p>Last Name:</p>  <input name="lname"><br><br>
  <p>Email:</p>    <input name="email"><br><br>
  <p>Birthday:</p> <input name="birthday"><br><br>
 
 Profile Pic URL: <input name="picurl">
  
  
  
  <input type="submit">
</form>
