<!DOCTYPE html>
<html>
  <head>
    <title>YouBook</title>
   
    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
  </head>

  <body>
    <div class="layout-container">
      <%= yield %>
    </div>
  </body>
</html>